.sidebar {
    color: #ccc;
    position: fixed;
}

.sidebar h1 {
    font-size: 2em;
}

.sidebar ul {
    list-style: none;
    font-size: 1em;
    padding-left: 0;
}

.sidebar ul li {
    border-bottom: solid 1px grey;
}

.sidebar ul li:last-child {
    border-bottom: 0;
}

.sidebar ul ul {
    padding-left: 25px;
}

@media (max-width: 768px) {
    .sidebar {
        position: inherit;
    }
}