<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/main.css">
    <link type="text/css" rel="stylesheet" href="~/css/content.css">
    <link type="text/css" rel="stylesheet" href="~/css/sidebar.css">

    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.js"></script>
</head>
<body>
    <div class="col-md-2"></div>
    @RenderBody()
    <div class="col-md-2"></div>
</body>
</html>