@using System.Web;
@model Book

<div class="col-md-6" id="content"></div>
<div class="col-md-2 no-print" id="sidebar"></div>

<script>
    $(function () {
        $('#content').html(new showdown.Converter({ tables: true, strikethrough: true }).makeHtml('@HttpUtility.JavaScriptStringEncode(Model.content)'));
        RenderBookNavigation('content', 'sidebar');
    });
</script>
