@using System.Web;
@model Book

<div class="col-md-6 content"></div>
<div class="col-md-2 sidebar no-print"></div>

<script>
    $(function () {
        $('.content').html(new showdown.Converter({ tables: true, strikethrough: true }).makeHtml('@HttpUtility.JavaScriptStringEncode(Model.content)'));
        RenderBookNavigation('content', 'sidebar');

        $('.sidebar li').click(function () {

            var parent = this;

            $('.content').children().each(function () {

                $(this).hide();

            });

            if (parent.id === 'bookmark-show-all') {
                ShowAllSections('content');
            }
            else {
                ShowSection(parent.id.replace('bookmark-', ''));
            }
        });
    });
</script>
