<div class="col-lg-1"></div>
<div class="col-lg-8">
    <h1>Shadowrun: Jackpoint Edition</h1>
    <p>
        After the recent dissapointing release of more recent editions of shadowrun, I decided to write my own version of the shadowrun rule set.
        The plan for SRJ is to server as a living rulebook.
        There will be updates made to the game manuals hosted on this site as time goes on. 
        The reader is set up to be easy to print specific sections of the rules but it is preferable to just use the site for rules references as the site will be the most up to date.
    </p>
</div>
<div class="col-lg-1"></div>