body {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-family: "Consolas";
    color: #eee;
    text-shadow: 2px 2px 15px #000000;
    background-color: #323232;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(6, 6, 6), rgb(18, 18, 18));
    background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
}

.table {
    overflow: hidden;
}

.table {
    margin-bottom: 50px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

    .table .header {
        background: linear-gradient( #1e1e1e, #000);
        color: #337ab7;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        border-bottom: 0;
        font-size: 18px !important;
        font-weight: normal;
        padding: 5px 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

        .table .header::before {
            content: "[";
            color: #aaa;
        }

        .table .header::after {
            content: "]";
            color: #aaa;
        }

    .table .body {
        font-size: 14px !important;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 5px 15px;
        border-bottom: 1px solid #333;
    }

        .table .body:last-child {
            border-bottom: 0 !important;
        }


        .table .body:hover {
            background: linear-gradient( #383838, #171717);
            cursor: pointer;
        }

.glyphicon-plus {
    color: #080;
}

@media screen and (max-width: 992px) {
    table td:not(:first-child),
    table th:not(:first-child) {
        display: none;
    }
}

@media print {
    .no-print {
        display: none;
    }

    body {
        padding-top: 0;
        padding-bottom: 0;
    }
}
