@import url('https://fonts.googleapis.com/css?family=Roboto');

.shadowrunTableHeader {
    background-color: transparent;
    margin-top: 20px;
    width: 80%;
    color: #fb0;
    font-weight: bold;
    font-size: 24px;
    font-family: "Roboto";
    border-bottom: 30px solid #222;
    border-right: 50px solid transparent;
    height: 0;
    text-indent: 15px;
    line-height: 50px;
}

.shadowrunTable {
    background-color: #222;
    padding: 20px 15px;
    width: 100%;
    color: #fb0;
    font-weight: bold;
    font-size: 24px;
    font-family: "Roboto";
}

.shadowrunTableFooter {
    background-color: transparent;
    margin-left: 10%;
    width: 90%;
    border-top: 10px solid #222;
    border-left: 20px solid transparent;
    height: 0;
}

.shadowrunTable table {
    color: white;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    border-bottom: 1px solid #fb0;
}

.shadowrunTable th {
    color: #fb0;
    background-color: #000;
}

.shadowrunTable tr:nth-child(odd) {
    background-color: #666;
}

.shadowrunTable tr:nth-child(1) {
    border-bottom: 1px solid #fb0;
    border-top: 1px solid #fb0;
    background-color: black;
    padding-top: 0;
}

.shadowrunTable td,
.shadowrunTable th {
    padding: 3px 5px;
}

    .shadowrunTable th:nth-child(n+2),
    .shadowrunTable td:nth-child(n+2) {
        text-align: center;
    }
